@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --korff-primary: #0f172a; /* Ein dunkles Blaugrau für Hauptakzente */
  --korff-secondary: #0d9488; /* Ein Petrol-Ton für Akzente und Links */
  --korff-background: #f1f5f9; /* Ein sehr helles Graublau als Hintergrund */
  --korff-text: #1e293b; /* Ein dunkler Text, der gut lesbar ist */
}

body {
  color: var(--korff-text);
  background-color: var(--korff-background);
}

.font-sans {
  font-family: var(--font-sans);
}
