@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --korff-primary: #0f172a;
  --korff-secondary: #0d9488;
  --korff-background: #f1f5f9;
  --korff-text: #1e293b;
}

body {
  color: var(--korff-text);
  background-color: var(--korff-background);
}

.font-sans {
  font-family: var(--font-sans);
}

/* Definition der Spin-Animation für das Ladesymbol */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
